@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p>kamelija.kauzlaric@gmail.com</p>
        <p>26HkB&x8@rlJ</p>
        <p>AQAAAAEAACcQAAAAEDF/fYwrRdnvbkX2ByhRvawIbXNu6+LGMF4jgaNxtmnFE/iZ4v19zBDhe7AlC/tNdw==</p>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
