@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div _ngcontent-xnr-c5="" class="cfc-panel-body-scroll-content ng-star-inserted" sandboxuid="1"><!----><div sandboxuid="1" class="ng-star-inserted"><dl ace-kv-list="" class="ace-kv-list ace-kv-list-key-width-default" sandboxuid="1"><div sandboxuid="1"><dt sandboxuid="1">Client ID</dt><dd sandboxuid="1">1038124015859-rtmvko6qbgnvc17blsbdf7vd2nq0pbas.apps.googleusercontent.com</dd></div><!----><div sandboxuid="1" class="ng-star-inserted"><dt sandboxuid="1">Client secret</dt><dd sandboxuid="1">wNIxqCRDXOCsoezuKNymRrz8</dd></div><!----><!----><div sandboxuid="1"><dt sandboxuid="1">Creation date</dt><dd sandboxuid="1">March 27, 2021 at 8:18:47 PM GMT+1</dd></div></dl></div><!----></div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
